@import '../../variables';
.projects--container{
    width: 100%;
    height: auto;
    background-color: $primary-light;
    // border: 5px solid red;
    z-index: 3;
    padding-top: 100px;
    h1{
        font-family: $header-font;
        color: $primary-dark;
        margin: 0;
        margin: 0 auto;
        width: fit-content;
        font-size: 44px;
    }
    
}

.projects{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    .projects{
        width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .projects{
        width: 300px;
    }
}
