.contact-me--container{
    width: 100%;
    height: 1000px;
    background-image: url("https://www.pbs.org/wgbh/nova/media/images/carma-radio-telescope.width-2000.jpg");
    background-size: cover;
    background-position: 54% 50%;
}