$header-font: 'Julius Sans One', sans-serif;

$body-font: 'Crimson Text', serif;

$primary: hsl(226, 38%, 24%);
$primary-dark: hsl(226, 38%, 13%);
$primary-light: hsl(226, 38%, 99%); 

$accent: #E04531;