@import '../../_variables.scss';
.slide{
    height: 100%;
    background-color: white;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: $primary-dark;
    >div{
        border-radius: 16px;
    }
    .image-container{
        width: 60%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
    .text-container{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        ul{
            // -webkit-padding-start: 0px;

        }
    }
}